body{
  font-family: 'Montserrat', sans-serif;
  font-size:12px;
  background-image: url(img/.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:#111;
  width:100%;

}

a {
    color: #FFF;
    text-decoration: none;
}
    
a:link, a:visited {color:#FFF;text-decoration:none;border: 1px solid white;}
  a:hover, a:active{color:#FFF;text-decoration:none;}
  textarea:focus, input:focus{
  outline: none;
}

h1, h2, h3, h4 {font-family: 'Montserrat', sans-serif;color:#212121;}
    
h1{text-align:left;
  font-size:24px;
  line-height:30px;
  font-family: 'Montserrat', sans-serif;
  font-weight:bold;
  margin: 15px 0 0 0;
  color:#242424;
  text-transform:uppercase;
}
    
h3{
    font-size: 7px;
    line-height: 50px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 0px;
    color: #FFF;
    text-align: left;
    display: block;
    background: #413250;
    width: 96%;
    position: relative;
    text-transform: uppercase;
    height: 47px;
    font-family: 'Montserrat';
    padding-left: 72px;
    border-radius: 28px;
    box-shadow: 1px 2px 2px #1d092594;
}

h2{        
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
    margin: 0;
    color: #1960A9;
    text-align: center;
}

h4{font-size: 38px;
  margin:0;
  font-family: 'Montserrat',sans-serif;
  font-weight:bold;
}

#todito{margin-top:10px;}

p{
  margin:5px 0;
}

.bloqueo{
    border-bottom: 1px solid transparent;
    padding-top: 10px;
    padding-bottom: 10px;
} 
    
a:focus {outline:0;}
  
.unmot{
    display: block;
    padding: 3px 6px;
    margin: 5px 1px;
    border-radius: 3px;
    overflow: hidden;
  }

.uninh{
    display: block;
    padding: 3px 6px;
    margin: 5px 1px;
    border-radius: 3px;
    overflow: hidden;
}

.uninh:hover, 
.unmot:hover{background:#484746;color:#FFF;}


.motAlta{background:#413250;}
.motMedia{background: #6d4899;}
.motBaja{background:#9A92A2;}

.inhAlta{background:#ef6406;}
.inhMedia{background:#ff9210;}
.inhBaja{background:#ffe161;}

.inh, .mot{background:#1960A9;}

.imgAlta{width:32px;height:32px;}
.imgMedia{width:24px;height:24px;}
.imgBaja{width:16px;height:16px;}


.imgpropuesta{
  background: #413250 url(img/prueba.png) no-repeat top left;
  height: 50px;
}   

/* =Media Queries
-------------------------------------------------------------- */
@media all and (max-width: 660px) {
  /* =Header
  -------------------------------------------------------------- */
  header h1#logo {
    display: block;
    float: none;
    margin: 0 auto;
    height: 100px;
    line-height: 100px;
    text-align: center; }
  header nav {
    display: block;
    float: none;
    height: 50px;
    text-align: center;
    margin: 0 auto; }
    header nav a {
      line-height: 50px;
      margin: 0 10px; }
  header.smaller {
    height: 75px; }
    header.smaller h1#logo {
      height: 40px;
      line-height: 40px;
      font-size: 30px; }
    header.smaller nav {
      height: 35px; }
      header.smaller nav a {
        line-height: 35px; }
         }




    
/* AquÃ­ los estilos del switcher --- */    
    

input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
} 
input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
} 
  
.nav-pills > li {
    float: left;
    width: 48%;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #FFF;
    background-color: #55B74A;
} 

.nav > li > a {
    position: relative;
    display: block;
    padding: 5px 8px;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 5px 8px;
    color: #999;
    background: #EEE;
}

.row {
    margin-right: -14px;
    margin-left: -14px;
}



/* Estilos del modal */

.modal-header {
    padding: 0 15px;
    border-bottom: 1px solid #FFF;
    height: 36px;
    color: #FFF;
  border-radius: 5px 5px 0 0; 
}

.modal-header,
.close {
    margin-top: 1px;
    font-size: 30px;
    color: #FFF;
    opacity: .7;
}


.modal-body {
  font-size: 18px;
  padding-top: 30px;
} 

.verbatim{
    margin: 20px 20px 30px 20px;
    padding-left: 10px;
} 

.momenteo{    
    font-size: 16px;
    text-transform: none;
    color: #FFF;
    margin-bottom: -5px;
    text-align: left;
  }
  
.modal-title {
    margin: 0;
    line-height: 1.42857143;
    line-height: 40px;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
      margin-bottom: 20px;
}

.testimonios{
  background:#F5F7F7;
  margin:18px 0px 0px 0px;
  padding:15px;
  font-size:18px;
  line-height:22px;
  border-radius: 0 0 5px 5px;
}

.verbmotAlta{border-left:4px solid #413250;}
.verbmotMedia{border-left:4px solid #6d4899;}
.verbmotBaja{border-left:4px solid #9A92A2;}

.verbinhAlta{border-left:4px solid #ef6406;}
.verbinhMedia{border-left:4px solid #ff9210;}
.verbinhBaja{border-left:4px solid #ffe161;}


.modal-dialog {
    margin: 15px auto;
}

.productossector{
    padding-top: 8px;
}

.citafuente{
    text-align: right;
    margin-left: 59%;
    font-style: italic;
    font-size: 12px;
}
